@model ListOfEvents.Models.Event;

@{
    ViewData["Title"] = ViewBag.EventName;
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

    <div class="container_inputs">
        <div class="image">
            <img class="image_detail" src="@Url.Content(Model.ImagePath)">
        </div>
        <div class="form">
            <p class="create_text">Время и дата проведения:</p>
            <p class="event_date">@Model.EventDate</p>
            <p class="create_text" style="margin-top: 30px">Организатор:</p>
            <p>@Model.EventOrganizer</p>
        </div>
    </div>

    <div class="eventName_block" align="center">
        <h2>@Model.EventName</h2>
    </div>


    <div class="description_block">
        <h3 class="eventDescription_text">О мероприятии</h3>
        <div align="center">
            <p class="event_description">@Model.EventDescription</p>
        </div>
    </div>

    <div class="registration_block">
        <h3 class="eventDescription_text">Форма участника</h3>
        <div class="registration_inputs">
            <div class="registration">
                <div>
                    <p style="font-weight: 600">Имя: </p>
                </div>
                <div>
                    <input class="name" type="text" autocomplete="off" />
                </div>
            </div>
            <div class="registration">
                <div>
                    <p style="font-weight: 600">Фамилия: </p>
                </div>
                <div>
                    <input class="name" type="text" autocomplete="off" />
                </div>
            </div>
            <div class="registration">
                <div>
                    <p style="font-weight: 600">Номер телефона: </p>
                </div>
                <div>
                    <input class="name" type="tel" autocomplete="off" />
                </div>
            </div>
            <div class="registration">
                <div>
                    <p style="font-weight: 600">Колледж: </p>
                </div>
                <div>
                    <input class="name" type="text" autocomplete="off" />
                </div>
            </div>
        </div>
        <div class="send_btn">
            <p>Перед отправлением формы убедительная просьба ознакомится с файлом положения</p>
            <a>Отправить</a>
        </div>
    </div>

    <div class="file_block">
        <div class="file_text">
            <p style="margin-bottom: 5px; color: #FAFAFA; font-weight: 600">Прикрепите файл положения: </p>

            <div class="refulations_file">
                <div>
                    <a onclick="file.click()">
                        <i style="color: #FAFAFA; font-size: 40px" class="bi bi-file-earmark-arrow-up"></i>
                    </a>
                    <input onchange="fileName(this)" type="file" name="refulations" accept=".pdf, .docx" id="file" hidden />
                </div>
                <div style="position: relative; display: none;" id="file_block">
                    <p class="file_name" id="file_name"></p>
                </div>
            </div>
            <div>
                <p></p>
            </div>
        </div>
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>


