@model IEnumerable<ListOfEvents.Models.Event>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CollegeSchedule</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <a asp-action="Login" asp-controller="Home">войти</a>
    @if(User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>
        <a asp-action="CreateEvent" asp-controller="Home">Создать</a>
    }

    <div>
        <div class="event_card">
            @foreach (var item in Model)
            {
                <div class="event_card_block">
                    <div class="card_image_block">
                        <img class="card_image" src="@Url.Content(item.ImagePath)" />
                    </div>
                    <div class="card_footer">
                        <div class="card_name">
                            <p>@item.EventName</p>
                        </div>
                        <div class="details_btn">
                            <a asp-action="EventDetails" asp-controller="Home" asp-route-eventId="@item.Id">Перейти</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
